<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>show</title>
</head>
<body>
<p>root:___ROOT__</p>
<p>self:__SELF__</p>
<p>action:__ACTION__</p>
<p>url:__URL__</p>
<p>app:__APP__</p>
<p>public:__PUBLIC__</p>
<p>..pub:../public</p>
<p>apppub:APP_PUBLIC_URL</p>
<p>webpub:WEB_PUBLIC_URL</p>
<p>webur:WEB_PUBLIC_URL</p>

</body>
</html>